<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamertn9527.demo.service.HelloMapper">
    <select id="getListInfo" resultType="map">
       SELECT * FROM gitbook limit 1,100;
    </select>
</mapper>